moreThan(measure)
  @media screen and (min-width measure)
    {block}
    
lessThan(measure)
  @media screen and (max-width measure)
    {block}

belongsTo(min, max)
  @media screen and (min-width min) and (max-width max)
    {block}

prefersDark()
  @media (prefers-color-scheme dark)
    {block}
    
prefersLight()
  @media (prefers-color-scheme light)
    {block}