flex-arrange(mainAxis, crossAxis = mainAxis, other = null)
  __wraps = wrap wrap-reverse
  
  unless @display
    display flex
  
  justify-content mainAxis
  
  if (@flex-wrap && @flex-wrap in __wraps) || (@flex-flow && (@flex-flow[0] in __wraps || @flex-flow[1] in __wraps))
    align-content crossAxis
    
    if other
      align-items other
    
  else 
    align-items crossAxis
    
    if other
      align-content other