yaml('myFile.yml')
yaml('../src/yml/social-media.yml')

.button-whatsapp
  background whatsapp-teal-green
  
.button-facebook
  background facebook

.button-amazon
  background amazon

.button-twitter
  background twitter

// @media small
//   body
//     color lime
    // padding vars.uno * 1px
    // margin vars.dos * 1px
    // border-radius vars.tres * 1px

// @media tablet-landscape

// vars = yaml('vars.json', { hash: true })
// body
//   width: vars.width