@require stylus-kit

p( map(1..5, @(a){ a ** 2 }) )
// => inspect: 1 (4) (9) (16) (25)

p( filter(1..10, @(a){ a % 2 }) )
// => inspect: 1 (3) (5) (7) (9)

p( reduce(1..5, @(a, b){ '%s%s' % (a b) }) )
// => inspect: 12345

p( concat(1..9, range(10, 100, 10), range(100, 1001, 100)) )
// => inspect: 1 (2) (3) (4) (5) (6) (7) (8) (9) (10) (20) (30) (40) (50) (60) (70) (80) (90) (100) (100) (200) (300) (400) (500) (600) (700) (800) (900) (1000)

p( zip(('width' 'height' 'color'), (4em 5em cyan)) )
// => inspect: {"width":"(4em)","height":"(5em)","color":"(#0ff)"}
