@require stylus-kit

[class^="button"]
  color white

.button-whatsapp
  background whatsapp
  
.button-facebook
  background facebook

.button-amazon
  background amazon

.button-twitter
  background twitter