size(w, h = w)
  width w
  height h

inset(t, l=t)
  top t
  left l

colors(fc, bc)
  color fc
  background bc

padding-x(n, m = n)
  padding-left n
  padding-right m
  
padding-y(n, m = n)
  padding-top n
  padding-bottom m
  
margin-x(n, m = n)
  margin-left n
  margin-right m
  
margin-y(n, m = n)
  margin-top n
  margin-bottom m
  
border-top-radius(n)
  border-top-left-radius n
  border-top-right-radius n
  
border-bottom-radius(n)
  border-bottom-left-radius n
  border-bottom-right-radius n
  
border-left-radius(n)
  border-top-left-radius n
  border-bottom-left-radius n
  
border-right-radius(n)
  border-top-right-radius n
  border-bottom-right-radius n
