__render-args()
  if length(arguments) == 1
    font-size arguments
    
  else
    {shift(arguments)} arguments

sm()
  +above(measures.breakpoints.sm)
    if arguments
      __render-args arguments
    else
      {block}

md()
  +above(measures.breakpoints.md)
    if arguments
      __render-args arguments
    else
      {block}

lg()
  +above(measures.breakpoints.lg)
    if arguments
      __render-args arguments
    else
      {block}

xl()
  +above(measures.breakpoints.xl)
    if arguments
      __render-args arguments
    else
      {block}
